# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Production builds
**/build/
**/dist/

# Environment files
**/.env
**/.env.local
**/.env.production.local
**/.env.development.local

# Python
**/__pycache__/
**/*.pyc
**/venv/
**/.venv/

# Amplify
.amplifyrc
amplify-build-config.json
amplify/
.amplify-hosting/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
